<div class="topnav" id="myTopnav">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a routerLink="/author/create" class="nav-link">Create Author</a>
      <a routerLink="/author/update" class="nav-link">Update Author</a>
      <a routerLink="/author/list" class="nav-link">List Author</a>
      <a routerLink="/book/create" class="nav-link">Create Book</a>
      <a routerLink="/book/update" class="nav-link">Update Book</a>
      <a routerLink="/book/list" class="nav-link">List Book</a>
      <a routerLink="/banner/create" class="nav-link">Create Banner</a>
      <a routerLink="/user/create" class="nav-link">Create User</a>
      <a routerLink="/user/list" class="nav-link">List User</a>
      <a routerLink="/user/update" class="nav-link">Update User</a>
  </nav>
</div>
<div class="container mt-3 ml-4" style="margin-left: 5%;">
  <router-outlet></router-outlet>
</div>


